{% load static %}
<style>
   .button_hover:hover{
      background-color: #4a8ed1;
   }
</style>



<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen bg-white border-r border-gray-200" aria-label="Sidebar">
   
   <nav class="w-full border-b">
   <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
         <div class="flex items-center justify-start rtl:justify-end">
         <a href={% url 'home' %} class="flex ms-2 md:me-24">
            <img src="{% static 'images/LogoHorizontal.png' %}" class="h-14 me-3"/>
         </a>
         </div>
      </div>
   </div>
   </nav>
   
   <div class="h-full px-3 pb-4 overflow-y-auto bg-blue-primary" style='background:#3674B5'>
      <ul class="space-y-2 font-medium">
         <!--Destinasi-->
         <li>
            <a href="{% url 'tambahobyekwisata' %}">
               <button type="button" class="flex items-center w-full p-2 text-base text-white rounded-lg group button_hover" aria-controls="dropdown-destinasi" data-collapse-toggle="dropdown-destinasi">
               <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Destinasi</span>
               </button>
            </a>
         </li>

         <!--Jarak Obyek-->
         <li>
            <a href="{% url 'tambahjarakobyek' %}">
               <button type="button" class="flex items-center w-full p-2 text-base text-white rounded-lg group button_hover" aria-controls="dropdown-destinasi" data-collapse-toggle="dropdown-destinasi">
               <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Jarak Obyek</span>
               </button>
            </a>
         </li>


         <!--Kegiatan-->
         <li>
            <a href="{% url 'tambahkegiatan' %}">
               <button type="button" class="flex items-center w-full p-2 text-base text-white rounded-lg group button_hover" aria-controls="dropdown-kegiatan" data-collapse-toggle="dropdown-kegiatan">
               <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Kegiatan</span>
               </button>
            </a>
         </li>

         <!--Berita-->
         <li>
            <a href="{% url 'tambahberita' %}">
               <button type="button" class="flex items-center w-full p-2 text-base text-white rounded-lg group button_hover" aria-controls="dropdown-berita" data-collapse-toggle="dropdown-berita">
               <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Berita</span>
               </button>
            </a>
         </li>

         <!--Kategori Wisata-->
         <li>
            <a href="{% url 'tambahkategoriwisata' %}">
               <button type="button" class="flex items-center w-full p-2 text-base text-white rounded-lg group button_hover" aria-controls="dropdown-kategoridestinasi" data-collapse-toggle="dropdown-kategoridestinasi">
               <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Kategori Wisata</span>
               </button>
            </a>
         </li>

         <!--Kategori Berita-->
         <li>
            <a href="{% url 'tambahkategoriberita' %}">
               <button type="button" class="flex items-center w-full p-2 text-base text-white rounded-lg group button_hover" aria-controls="dropdown-kategoriberita" data-collapse-toggle="dropdown-kategoriberita">
               <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Kategori Berita</span>
               </button>
            </a>
         </li>

         <!--Provinsi-->
         <li>
            <a href="{% url 'tambahprovinsi' %}">
               <button type="button" class="flex items-center w-full p-2 text-base text-white rounded-lg group button_hover" aria-controls="dropdown-provinsi" data-collapse-toggle="dropdown-provinsi">
               <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Provinsi</span>
            </button>
            </a>
         </li>

         <!--Kabupaten-->
         <li>
            <a href="{% url 'tambahkabupaten' %}">
               <button type="button" class="flex items-center w-full p-2 text-base text-white rounded-lg group button_hover" aria-controls="dropdown-kabupaten" data-collapse-toggle="dropdown-kabupaten">
               <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Kabupaten</span>
            </button>
            </a>
         </li>

         <!--Kecamatan-->
         <li>
            <a href="{% url 'tambahkecamatan' %}">
               <button type="button" class="flex items-center w-full p-2 text-base text-white rounded-lg group button_hover" aria-controls="dropdown-kecamatan" data-collapse-toggle="dropdown-kecamatan">
               <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Kecamatan</span>
               </button>
            </a>
         </li>

         <li style="position: fixed; bottom: 0px;">
            <a href="{% url 'logout' %}" class="flex items-center p-2 text-white">
               <span class="flex-1 ms-3 whitespace-nowrap">Log Out</span>
            </a>
         </li>
      </ul>
   </div>
</aside>