@import "tailwindcss";

@theme {
    --color-blue-primary: #3674B5;
    --color-hijau-primary: #4CAF50;    
    --color-hijau-hover: #45a049;
    --color-primary-hover: #4a8ed1;
    --color-grey-primary: #093FB4;
}

@layer utilities {
    .bg-hijau-primary {
        background-color: var(--color-hijau-primary);
    }
    
    .hover\:bg-hijau-hover:hover {
        background-color: var(--color-hijau-hover);
    }
    
    .text-hijau-primary {
        color: var(--color-hijau-primary);
    }
    
    .border-green-primary {
        border-color: var(--color-hijau-primary);
    }
    
    .bg-hijau-hover {
        background-color: var(--color-green-hover);
    }
}

.swiper-slide {
    height: auto;
  }

.swiper-button-next,
.swiper-button-prev {
    top: 40%;
    transform: translateY(-50%);
}

.swiper-left{
    @apply absolute left-2 top-1/2 transform -translate-y-1/2 z-10 rounded-full w-10 h-10 flex items-center justify-center shadow-lg hover:bg-gray-100 cursor-pointer p-3 bg-white
}

.swiper-right{
    @apply absolute right-2 top-1/2 transform -translate-y-1/2 z-10  rounded-full w-10 h-10 flex items-center justify-center shadow-lg hover:bg-gray-100 cursor-pointer p-3 bg-white
}

.container-swiper{
    @apply mx-auto px-4 py-6 rounded-lg mt-2
}

.title-swiper{
    @apply text-4xl font-bold text-blue-primary
}

.container-card-swiper{
    .container-contain-swiper{
        @apply p-6
    }

    .card-title{
        @apply text-xl font-bold text-gray-800 h-10
    }

    .container-rating{
        @apply flex items-center text-yellow-500 ml-2
    }

    .rating-span{
        @apply text-sm font-medium
    }

    .swiper-pagination-bullet {
        @apply bg-blue-600 opacity-30;
    }

    .swiper-pagination-bullet-active {
        @apply opacity-100;
    }

    .category-span{
        @apply inline-block bg-blue-100 text-blue-800 text-xs px-3 py-1 rounded-full font-medium mb-3
    }

    .additional-information-container{
        @apply flex items-start mb-4
    }

    .additional-information-text{
        @apply text-sm text-gray-600 line-clamp-2 max-h-10 min-h-10
    }

    .button-container{
        @apply flex items-center justify-between mt-auto
    }

    .button{
        @apply bg-hijau-primary hover:bg-hijau-hover text-white px-4 py-2 rounded-lg text-sm font-medium
    }
    
}

.container-search{
    .container-text{
        @apply text-center mb-8
    }

    .title{
        @apply text-3xl font-bold text-gray-800 mb-3
    }

    .subtitle{
        @apply text-gray-600 text-lg
    }

    .search-bar{
        @apply flex justify-center mb-8 relative w-full max-w-3xl
    }

    .button{
        @apply absolute right-0 inset-y-0 flex items-center bg-hijau-primary hover:bg-hijau-hover text-white px-8 py-3 rounded-full font-semibold
    }

    .placeholder{
        @apply w-full py-4 pl-14 text-lg bg-white rounded-full shadow-xl border-2 border-gray-100 outline-none text-gray-700 placeholder-gray-400
    }

    .search-svg{
        @apply absolute inset-y-0 left-6 flex items-center
    }
}

.container-search-result{
    .container-title{
        @apply items-center justify-between mb-8
    }

    .title{
        @apply text-2xl font-bold text-gray-800 mb-2
    }
    
}

.container-banner-1{
    .container-grid{
        @apply grid grid-cols-1 lg:grid-cols-2 min-h-[300px] border border-gray-200 rounded-lg bg-white shadow-sm overflow-hidden         
    }

    .image-section{
        @apply bg-white flex items-center justify-center
    }

    .text-section{
        @apply bg-blue-primary flex flex-col items-center justify-center p-8 border-l border-gray-200
    }

    .title{
        @apply text-2xl font-bold text-white mb-4
    }

    .subtitle{
        @apply text-white mb-8
    }

    .button{
        @apply bg-hijau-primary hover:bg-hijau-hover text-white font-semibold py-4 px-8 rounded-full flex items-center mx-auto justify-center 
    }
}

.container-banner-2{
    .text-section{
        @apply space-y-8 pb-3
    }

    .title{
        @apply font-bold text-white
    }
}

.container-footer{
    .container-footer-all{
        @apply bg-gray-100 text-black relative mt-8
    }
}


.main-content-container{
    @apply mx-auto px-4 py-6 rounded-lg mt-2 mb-8
}

.detail{
    .left-section{
        @apply col-span-1 space-y-6
    }

    .image-section{
        @apply overflow-hidden h-full relative rounded-2xl
    }

    .image-text{
        @apply absolute bottom-6 left-6 text-white
    }

    .container-rating{
        @apply flex items-center text-yellow-500 ml-2
    }

    .rating-span{
        @apply text-sm font-medium
    }

    .category-span{
        @apply inline-block bg-blue-100 text-blue-800 text-xs px-3 py-1 rounded-full font-medium mb-3
    }

    .infor-span-1{
        @apply bg-blue-500 rounded-lg p-2 mr-3 text-gray-600
    }

    .infor-span-2{
        @apply bg-green-500 rounded-lg p-2 mr-3 text-gray-600
    }

    .infor-container{
        @apply p-6 rounded-xl border mb-3
    }
}
